chroma-hnswlib==0.7.6
chromadb==0.6.3
faiss-cpu==1.7.4
fastapi==0.104.1
langchain==0.3.14
langchain-anthropic==0.3.1
langchain-chroma==0.2.2
langchain-community==0.3.14
langchain-core==0.3.29
langchain-openai==0.3.0
langchain-text-splitters==0.3.5
langchainplus-sdk==0.0.20
langcodes==3.3.0
langdetect==1.0.9
langgraph==0.2.62
langgraph-checkpoint==2.0.10
nltk==3.8.1
openai==1.59.7
